#quote {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 1s;
	width: 80%;

	&.quote--fade-out {
		opacity: 0;
	}

	&.quote--fade-in {
		opacity: 1;
	}

	a {
		display: block;

		&:before {
			content: '';
			background-image: url('assets/images/twitter.svg');
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

#refreshButton {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	border: none;
	background: none;
	cursor: pointer;

	img {
		width: 40px;
	}
}